/**
 * UCSF pa11y CSS tweaks
 */

/**
 * Set up the header
 */
.header {
	text-align: center;
	padding: 2em;
}

/**
 * Set up the Footer
 */
.footer {
	background-color: #052049;
	color: white;
}
.footer a {
	color: #b4b9bf;
	text-decoration: none;
}
.footer li a:hover,
.footer li a:focus {
	color: white;
	background-color: transparent;
}

body .danger,
#errors,
body .alert-danger {
	background-color: #EB093C;
}
body .task-danger,
body .alert-danger {
	border-color: #EB093C;
}

body .warning,
#warnings {
	background-color: #F26D04;
}

body .task-warning {
	border-color: #F26D04;
}

body .info,
#notices {
	background-color: #007CBE;
}

body .task-info {
	border-color: #007CBE;
}

body .btn-default,
body .label-default,
body .btn-success {
	background-color: #4D4D4D;
	border-color: #4D4D4D;
}

body .dark-well {
	background-color: #052049;
	border-color: #052049;
}
