/**
 * UCSF pa11y CSS tweaks
 */

/**
 * Set up the header
 */
.header {
	text-align: center;
	padding: 2em;
}

/**
 * Set up the Footer
 */
.footer {
	background-color: #052049;
	color: white;
}
.footer a {
	color: #b4b9bf;
	text-decoration: none;
}
.footer li a:hover,
.footer li a:focus {
	color: white;
	background-color: transparent;
}

/**
 * UCSF Branding Colors for the buttons
 */
.danger,
#errors,
.alert-danger {
	background-color: #EB093C;
}
.task-danger,
.alert-danger {
	border-color: #EB093C;
}

.warning,
#warnings {
	background-color: #F26D04;
}

.task-warning {
	border-color: #F26D04;
}

.info,
#notices {
	background-color: #007CBE;
}

.task-info {
	border-color: #007CBE;
}

.btn-default,
.label-default,
.btn-success {
	background-color: #4D4D4D;
	border-color: #4D4D4D;
}

.dark-well {
	background-color: #052049;
	border-color: #052049;
}

/**
 * Make the text on the report screen completely white
 */
.stat-type {
	opacity: 1;
	filter: none;
}

/**
 * Hide the Ignore Rule button on report screen.
 */
.readonly-mode input.btn-sm {
    display: none;
}
